@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: initial;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #363636;
  user-select: none;
}

img {
  width: 300px;
  height: 300px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}